---
interface Props {
  text: string;
  href: string;
  isBlack?: boolean;
}
const { text, href, isBlack = true } = Astro.props;
---

<a
  href={href}
  class={`flex justify-center items-center border uppercase px-2 py-1 font-bold transition-colors hover:text-ideathon-red bg-transparent cursor-pointer max-w-max ${isBlack ? 'text-black border-black' : 'text-white border-white'}`}
>
  <span>»&nbsp;</span>
  <span>{text}</span>
</a>
