---
interface Props {
  text: string;
  href: string;
}
const { text, href } = Astro.props;
---

<a
  href={href}
  class="flex justify-center items-center border border-black uppercase px-2 py-1 font-bold transition-colors hover:text-ideathon-red bg-transparent cursor-pointer"
>
  <span>»&nbsp;</span>
  <span>{text}</span>
</a>
