---
interface Props {
  linkTo: string;
  isBlank?: boolean;
  ariaLabel?: string;
}
const { linkTo = './', isBlank, ariaLabel } = Astro.props;
---

<a
  class="cursor-pointer text-white underline text-sm block"
  href={linkTo}
  target={isBlank ? '_blank' : '_self'}
  rel={isBlank ? 'noopener noreferrer' : ''}
  aria-label={ariaLabel ? ariaLabel : undefined}
>
  <slot />
</a>
