---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <div class="desc">
    <p>
      Jako student naší Univerzity Tomáše Bati ve Zlíně<br />se jednoduše
      přihlaš do výzvy pomocí zprávy na email:
    </p>
    <a
      class="block text-ideathon-red text-2xl italic font-semibold"
      href="mailto:ideathon@utb.cz">ideathon@utb.cz</a
    >
    <p>(stačí zde napsat své jméno a fakultu)<br /><br /></p>
    <p>Děkujeme!</p>
  </div>
</MainLayout>
