---
import MainLayout from '../layouts/MainLayout.astro';
import Container from '../components/Container.astro';
---

<MainLayout title="Jdu do toho">
  <Container>
    <div class="flex flex-col items-center gap-12">
      <h2
        class="text-5xl xl:text-7xl uppercase text-center font-bold italic text-white"
      >
        JDEŠ DO TOHO?<br />SUPER!
      </h2>

      <div class="space-y-4 text-center text-white text-lg lg:text-xl">
        <p>
          Jako student naší Univerzity Tomáše Bati ve Zlíně<br />se jednoduše
          přihlas do výzvy pomocí zprávy na e-mail:
        </p>
        <a
          class="block text-ideathon-red text-2xl italic font-semibold"
          href="mailto:ideathon@utb.cz">ideathon@utb.cz</a
        >
        <p>
          (stačí zde napsat své jméno a fakultu)<br /><br />
        </p>
        <p class="text-xl lg:text-2xl uppercase font-bold">Děkujeme!</p>
      </div>
    </div>
  </Container>
</MainLayout>
