---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Kde to bude">
  <div class="space-y-8">
    <h2>Akce se bude konat ve 4. podlaží, ve 23. budově areálu Svit</h2>
    <div class="flex justify-center">
      <iframe
        title="mapa - 23. budova Svit"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d281.0509989326123!2d17.657879949253935!3d49.22409418126853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471373529951268d%3A0xc6f8aebf311e499e!2sVavre%C4%8Dkova%2023%2C%20760%2001%20Zl%C3%ADn%2C%20Czechia!5e0!3m2!1sen!2ssk!4v1635774314206!5m2!1sen!2ssk"
        allowfullscreen={false}
        loading="lazy"></iframe>
    </div>
  </div>
</MainLayout>
