---
import Image from 'astro/components/Image.astro';
import MainLayout from '../layouts/MainLayout.astro';

import topicHeadingImg from '../assets/headings/temata.png';
import Card from '../components/cards/Card.astro';

const cardContents = [
  {
    id: 1,
    text: 'Co tak vytvořit novou zlínskou tradici? Navrhni koncept pro Památník Tomáše Bati, který bude návštěvníky inspirovat k 2 opakovaným návštěvám a každoročnímu připomenutí jeho odkazu.',
    selectedTopic: true,
  },
  {
    id: 2,
    text: 'Jak udělat z Malenovic místo, kde chceš žít, pracovat a rozvíjet se? Vymysli, jak využít Zónu Malenovice tak, aby lákala mladé talenty a podpořila ekonomický růst ve Zlínském kraji. Pomoz vytvořit prostor, který nabídne atraktivní životní styl (nejen) pro kvalifikované profíky.',
    selectedTopic: true,
  },
  {
    id: 3,
    text: 'Probuď v žácích a studentech zvědavost i chuť objevovat fascinující svět čipů. Navrhni interaktivní exponát, který jim ukáže, co všechno se za výrobou čipů skrývá a proč jsou důležité. Vymysli místo, které inspiruje budoucí vědecké talenty pro svět polovodičů a techniku.',
    selectedTopic: true,
  },
  {
    id: 4,
    text: 'Nech se vtáhnout do světa plného inspirace, ve kterém „nejde – neexistuje“. Přemýšlej „out of the box“, stejně jako kdysi Tomáš Baťa, a navrhni nástroj, který naláká mladou generaci k poznávání Baťova regionu, jehož srdcem je město Zlín.',
    selectedTopic: true,
  },
  {
    id: 5,
    text: 'Jak nadchnout firmy pro společensky odpovědné podnikání a přitáhnout nové B2B partnery? Navrhni způsob, jak představit zodpovědný a udržitelný přístup k investování a byznysu tak, aby spojil běžné firmy se sociálními podniky a rozjel nová partnerství.',
    selectedTopic: true,
  },
];

const sortedContents = [...cardContents].sort(
  (a, b) => Number(b.selectedTopic) - Number(a.selectedTopic),
);
---

<MainLayout title="Témata">
  <div class="flex flex-col items-center gap-12 py-12 px-4">
    <div>
      <Image src={topicHeadingImg} alt="TÉMATA" height={140} />
      <p class="mx-auto max-w-max text-lg font-semibold">
        Nová témata představíme 1. 11. 2024<br />Zatím se můžeš podívat, s
        jakými tématy si musely týmy poradit v roce 2023.
      </p>
    </div>
    <div class="grid items-stretch grid-cols-1 gap-8 lg:grid-cols-2">
      {
        sortedContents.map(({ id, selectedTopic, text }) => (
          <div class="min-h-[200px]">
            <Card text={text} {selectedTopic} primaryHeading={id + '.'} />
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
