---
import MainLayout from '../layouts/MainLayout.astro';
import Card from '../components/cards/Card.astro';

const cardContents = [
  {
    id: 'Design veřejného prostoru ve Zlíně podle potřeb mladých lidí.',
    sponsor: 'MĚSTO ZLÍN',
    text: 'Hledejte nápady, jak vytvořit nebo proměnit veřejné prostory ve Zlíně tak, aby byly přívětivé, bezpečné a podle představ mladé generace. Vaše řešení může být drobný zásah i odvážná vize. Pracujte s konkrétními místy ve městě.',
    selectedTopic: true,
  },
  {
    id: 'Název: Tahle obec je i pro mladý. Jak přilákat a udržet mladé talenty v okrajových oblastech Zlínského kraje.',
    sponsor: 'TIC ZLÍN',
    text: 'Vžijte se do role stratéga, který má jednoduchý úkol – přilákat a udržet talentované mladé lidi v okrajových oblastech Zlínského kraje na úrovni obcí s rozšířenou působností. Analyzujte a zjistěte, co mladí lidé skutečně potřebují pro spokojenější život v regionu a na základě dat navrhněte strategii, za kterou by se nemusel stydět žádný policy maker. Součástí je také návrh komunikační kampaně, protože jinak se o projektu nikdo nedozví!',
    selectedTopic: true,
  },
  {
    id: 'Mapa regionálních producentů',
    text: 'Cílem je vytvořit mapu regionálních producentů, která bude plnit funkci „výkladní skříně regionu“. Mapa představí, co v kraji máme, nač jsme pyšní – tedy producenty – výrobce potravin, zemědělce a vinaře. Je třeba navrhnout, jak bude vypadat, fungovat, jak dostat vytvořenou mapu do povědomí veřejnosti. Cílovou skupinou je široká veřejnost, občané i turisté. Mapa by měla být funkční, udržitelná a přívětivá pro uživatele i producenty samotné s možností dalšího rozšíření o řemesla, gastro, agroturistiku a další.',
    sponsor: 'ZLÍNSKÝ KRAJ',
    selectedTopic: true,
  },
  {
    id: 'Bezpečný prostor pro mladé: jak aktivizovat a zapojit teenagery / gen Z do života na Jižních Svazích?',
    sponsor: 'KOMA MODULAR',
    text: 'Teenageři a gen Z ve Zlíně často nemají prostor, kde by mohli trávit čas bezpečně, smysluplně a bez finančních bariér. Nový Čech chce být pro mladou generaci stejně přitažlivým a bezpečným místem, jako pro ostatní cílové skupiny – rodiče s dětmi, seniory i kreativní komunity.',
    selectedTopic: true,
  },
  {
    id: 'Moderní digitální platforma pro správu odborných praxí studentů zdravotnických oborů.',
    sponsor: 'UTB - FHS',
    text: 'Představ si svět, kde studium není jen o skriptech, knihách a zkouškách, ale o skutečné zkušenosti, kterou studenti získávají v reálné praxi. Stejně jako Tomáš Baťa kdysi spojoval teorii s praxí a vychovával osobnosti schopné řídit budoucnost, i ty máš možnost přispět k nové cestě vzdělávání. Vaším úkolem je navrhnout moderní digitální platformu pro správu odborných praxí studentů zdravotnických oborů.',
    selectedTopic: true,
  },
];

const sortedContents = [...cardContents].sort(
  (a, b) => Number(b.selectedTopic) - Number(a.selectedTopic),
);
---

<MainLayout title="Témata">
  <div class="flex flex-col items-center gap-12 py-12 px-4">
    <div>
      <h2 class="text-5xl xl:text-7xl uppercase font-bold italic text-white">
        Témata
      </h2>
      <!-- <p class="mx-auto max-w-max text-lg font-semibold">
        Nová témata představíme 1. 11. 2024<br />Zatím se můžeš podívat, s
        jakými tématy si musely týmy poradit v roce 2023.
      </p> -->
    </div>
    <div class="grid items-stretch grid-cols-1 gap-8 lg:grid-cols-2">
      {
        sortedContents.map(({ id, selectedTopic, text, sponsor }) => (
          <div class="min-h-[200px]">
            <Card
              text={text}
              {selectedTopic}
              primaryHeading={id.toString()}
              sponsor={sponsor}
            />
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
