---
// import landingImg from '../../assets/ideathon-hero.webp';
// import landingTabletImg from '../../assets/ideathon-hero-tablet.webp';
// import landingMobileImg from '../../assets/ideathon-hero-mob.webp';
---

<div
  class="relative w-full h-[100dvh] sm:h-[calc(90dvh-78px)] bg-gradient-to-bl from-[#967E84] to-[#8F3AAF] flex lg:justify-between px-[4%] lg:px-[10%] py-[8%] gap-20 flex-col lg:flex-row"
>
  <div
    class="rounded-full size-[400px] bg-gradient-to-bl from-[#8F3AAF] to-[#967E84] absolute top-10 left-4 z-0"
  >
  </div>
  <div
    class="rounded-full size-[400px] flex items-center justify-center bg-gradient-to-bl from-[#8F3AAF] to-[#967E84] z-10 shrink-0"
  >
    <h2 class="text-5xl md:text-7xl text-white font-bold">
      IDEA<br />THON<br />UTB
    </h2>
  </div>
  <h2 class="text-4xl md:text-5xl text-white font-bold z-10">
    25.–26.11.2025<br />Baťovy závody trochu jinak
  </h2>
  <!-- <picture class="w-full h-[100dvh] sm:h-[calc(90dvh-78px)] object-cover">
    <source media="(min-width: 1024px)" srcset={landingImg.src} />
    <source media="(min-width: 576px)" srcset={landingTabletImg.src} />
    <img src={landingMobileImg.src} alt="Ideathon UTB" />
  </picture> -->
</div>
