---
interface Props {
  isActive: string;
  handleToggle: () => void;
}

const { handleToggle, isActive = false } = Astro.props;
---

<button
  class="hidden outline-none appearance-none xl:block cursor-pointer absolute top-1/2 -translate-y-1/2 right-4 size-8"
  onclick={handleToggle}
  aria-label=""
>
  <div class="line1"></div>
  <div class="line2"></div>
  <div class="line3"></div>
</button>

<script></script>
