---
import { NAV_LINKS } from '../lib/constants';
import NavLink from './navbar/NavLink.astro';
import Socials from './Socials.astro';
import ideathonLogoImg from '../assets/ideathonLogoHome.png';
import Burger from './navbar/Burger.astro';
---

<header class="w-full flex flex-col items-center relative z-10">
  <nav
    class="w-full max-w-[1600px] flex justify-between relative items-center py-2 px-4"
  >
    <a href="/" class="flex-shrink-0">
      <img
        src={ideathonLogoImg.src}
        alt="Ideathon logo"
        width={60}
        height={60}
      />
    </a>
    <ul
      id="nav-item-list"
      class="transition-transform duration-300 flex flex-col xl:flex-row items-center absolute xl:static space-between w-full gap-x-8 xl:gap-x-12 xl:max-w-max top-[72px] xl:translate-x-0 gap-y-8 bg-white xl:bg-transparent py-8 xl:py-0 z-[2] left-0"
    >
      {NAV_LINKS.map((navLink) => <NavLink {...navLink} />)}
    </ul>
    <div
      class="max-w-max absolute xl:static left-1/2 -translate-x-1/2 xl:left-0 xl:translate-x-0"
    >
      <Socials />
    </div>
    <Burger />
  </nav>
</header>

<style>
  @media only screen and (max-width: 1280px) {
    #nav-item-list {
      transform: translateX(100vw);
    }

    .isNavOpen#nav-item-list {
      transform: translateX(0);
    }
  }
</style>
