---
import { NAV_LINKS } from '../lib/constants';
import Burger from './navbar/Burger.astro';
import NavLink from './navbar/NavLink.astro';
import Socials from './Socials.astro';

let toggledMenu = false;
---

<header class="w-full flex flex-col items-center">
  <nav class="w-full max-w-[1600px] px-4">
    <a href="./" class="menu-link-img">
      <img src="" alt="" width="" height="" />
    </a>
    <ul class="flex items-center space-between w-full gap-x-8">
      {NAV_LINKS.map((navLink) => <NavLink {...navLink} />)}
    </ul>
    <Socials />
  </nav>
</header>
