---
import fbIcon from '../assets/header/fbIcon.svg';
import igIcon from '../assets/header/igIcon.svg';
import Link from './links/Link.astro';

const socialItems = [
  {
    link: 'https://www.facebook.com/upperzlin/',
    img: fbIcon.src,
    imgAlt: 'facebook ikona',
  },
  {
    link: 'https://www.instagram.com/upper_zlin/',
    img: igIcon.src,
    imgAlt: 'instagram ikona',
  },
];
---

<ul class="flex items-center justify-between gap-6 flex-shrink-0">
  {
    socialItems.map((social) => (
      <li class="size-5">
        <Link linkTo={social.link} isBlank>
          <img width={20} height={20} src={social.img} alt={social.imgAlt} />
        </Link>
      </li>
    ))
  }
</ul>
