---
import Link from './links/Link.astro';
import FbIcon from './icons/FbIcon.astro';
import IgIcon from './icons/IgIcon.astro';
---

<ul class="flex items-center justify-between gap-6 flex-shrink-0">
  <li class="size-6">
    <Link
      linkTo="https://www.facebook.com/upperzlin/"
      isBlank
      ariaLabel="Odkaz na Facebook"
    >
      <FbIcon />
    </Link>
  </li>
  <li class="size-6">
    <Link
      linkTo="https://www.instagram.com/upper_zlin/"
      isBlank
      ariaLabel="Odkaz na Instagram"
    >
      <IgIcon />
    </Link>
  </li>
</ul>
